.Reproducir {
  background-color: #53535320;
  border-radius: 5px;
  width: 58%;
  display: flex;
  align-items: center;
  justify-content: center;

  .div {
    width: 100%;
    height: 100%;
    position: relative;
  }

  h1 {
    color: #fff;
  }

  button {
    background-color: #0e0e0e;
    border-radius: 50%;
    border: 0;
    width: 50px;
    height: 50px;
  }
  .div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .img {
      width: 120px;
      height: 120px;
      background-color: #fefefe;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .play {
      animation: play 5s infinite ease;
      animation-timing-function: linear;

      @keyframes play {
        10%,
        40%,
        70% {
          transform: scale(1);
        }
        15%,
        30%,
        60%,
        100% {
          //   transform: rotateZ(360deg);
          transform: scale(1.05);
        }
      }
    }

    h1 {
      font-size: 20px;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    .music {
      background-color: #464646;
      width: 85%;
      height: 3px;
      position: absolute;
      bottom: 5%;
      left: 7.5%;

      button {
        width: 10px;
        height: 10px;
        position: absolute;
        top: -100%;
        cursor: pointer;
        background-color: #fff;
        left: 0;
      }
    }
  }
}
