.Home {
  height: 100vh;
  width: 100%;
  display: flex;

  .cd-1 {
    width: 100%;

    .ruta {
      background-color: var(--bg-2);
      color: #ddd;
      padding: 3px 10px;
      width: 90%;
      font-size: 11px;
      margin: 8px auto;
    }

    .folders {
      width: 92.3%;
      margin: 8px auto;
      display: flex;
      justify-content: space-between;

      .download {
        background-color: var(--red);
        border: 0;
        border-radius: 4px;
        padding: 3px 7px;
        cursor: pointer;
        a {
          color: #ddd;
          text-decoration: none;
        }
      }

      div {
        display: flex;
        gap: 10px;

        button {
          background-color: var(--bg-2);
          color: #fff;
          border: 0;
          cursor: pointer;
          border-radius: 4px;
          padding: 5px 10px;
          font-size: 13px;

          &:hover {
            background-color: var(--bg-3);
          }
        }
      }
    }

    .ms-act {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;

      .totalMusic {
        color: #ddd;
        font-size: 9px;
        width: 90%;
        padding: 5px 0px;
      }
    }

    .musicasList {
      width: 45%;
      height: 85vh;
      overflow-y: hidden;
      overflow: auto;
      background-color: #1e232b;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar {
        background-color: transparent;
      }
      &::-webkit-scrollbar:vertical {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #2d3748;
        border-radius: 20px;
        border: 0;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }

      button {
        font-size: 12px;
        text-align: left;
        padding: 3px 5px;
        background-color: #171923;
        border: 0;
        border-radius: 4px;
        color: #ddd;
        margin: 4px 0;
        width: 90%;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
